In [18]:
import pandas as pd
import numpy as np

In [12]:
def import_grades(fname):
    grades = pd.read_excel(fname)
    grades.head(7)

In [13]:
import_grades('F2018.xlsx')

In [79]:
pd.read_excel('F2018.xlsx').head(7)

,University of Virginia,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,"Grade Distribution for Credit Courses, Fall 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Instructor Last Name,Instructor First,Instructor Middle Name,Instructor Email,Subject,Course Number,Section Number,Title,Course GPA,A+,...,C,C-,D+,D,D-,F,OT,DR,W,Total
3,NaN,Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abad-Jorge,Ana,R,ara6t@virginia.edu,PSHM,3010,101,Intro to Health Care Mgmnt,3.75,1,...,0,0,0,0,0,0,0,1,0,18
5,Abbasi,Ahmed,N,ana6e@virginia.edu,GBAC,7200,1,Enterprise Analytics I,3.88,8,...,0,0,0,0,0,0,0,1,2,42
6,Abdelkarim,Sherif,NaN,sa2je@virginia.edu,ENLT,2548,1,Contemporary Literature,3.47,0,...,0,0,0,0,0,1,0,5,0,20

In [88]:
s2018 = pd.read_excel('S2018.xlsx')
s2018.head()

col = s2018.iloc[:, 0]
col[col == "Instructor Last Name"].index[0]

2

In [82]:
f2017 = pd.read_excel('F2017.xlsx')
f2017.head()

,Instructor Last Name,Instructor First Name,Instructor Middle Name,Instructor Email,Subject,Course Number,Section Number,Title,Course GPA,A+,...,C+,C,C-,D+,D,D-,F,othr,DR,W
0,Abdelbaki,Ala,H.,aha3e@virginia.edu,MATH,1140,3,Financial Mathematics,3.56,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,15,0
1,Abdelbaki,Ala,H.,aha3e@virginia.edu,MATH,1220,4,A Survey of Calculus II,3.08,1.0,...,7.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,7,4
2,Abdelkarim,Sherif,NaN,sa2je@virginia.edu,ENWR,1510,61,Writing and Critical Inquiry,3.89,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3,0
3,Abdelkarim,Sherif,NaN,sa2je@virginia.edu,ENWR,1510,70,Writing and Critical Inquiry,3.89,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0
4,Abdi,Sana,NaN,sa3gk@virginia.edu,FREN,1010,5,Elementary French I,3.41,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8,1

In [99]:
def load_grades(fname):
    df = pd.read_excel(fname)
    first_col = df.iloc[:, 0]
    try:
        header_row = first_col[first_col == "Instructor Last Name"].index[0]
    except IndexError as e:
        header_row = 0
    grades = pd.read_excel(fname, header=header_row)
    grades = grades.dropna(how='all')
    grades = grades.dropna(how='any', subset=['Course Number', 'Subject'])
    return grades

In [140]:
f2018 = load_grades('F2018.xlsx')

In [141]:
s2018 = load_grades('S2018.xlsx')

In [142]:
f2017 = load_grades('F2017.xlsx')

In [162]:
def numeric_conversion_errors(df, column_name):
    copy = df[column_name].copy()
    errors = []
    has_errors = True
    while has_errors:
        try:
            pd.to_numeric(copy)
        except Exception as e:
            errors.append("{}: {}".format(column_name, e))
            index = int(str(e).split()[-1])
            copy.iloc[index] = -1
            continue
        has_errors = False
    return errors


def find_numeric_conversion_errors(df):
    numeric_columns = [5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
    errors = []
    for col in numeric_columns:
        column_name = df.columns[col]
        print("Validating {}".format(column_name))
        col_errors = numeric_conversion_errors(df, column_name)
        if col_errors:
            print("\t" + "\n\t".join(col_errors))
            errors.extend(col_errors)
#     print(errors)
    return errors

In [160]:
def validate_grades(fname):
    grades = load_grades(fname)
    return find_numeric_conversion_errors(grades)

In [161]:
validate_grades('F2018.xlsx')

Validating Course Number
Validating Section Number
	Section Number: Unable to parse string "PHD" at position 1365
	Section Number: Unable to parse string "DNP" at position 2692
Validating Course GPA
Validating A+
Validating A
Validating A-
Validating B+
Validating B
Validating B-
Validating C+
Validating C
Validating C-
Validating D+
Validating D
Validating D-
Validating F
Validating OT
Validating DR
Validating W
Validating Total
['Section Number: Unable to parse string "PHD" at position 1365', 'Section Number: Unable to parse string "DNP" at position 2692']

['Section Number: Unable to parse string "PHD" at position 1365',
 'Section Number: Unable to parse string "DNP" at position 2692']

In [163]:
validate_grades('S2018.xlsx')

Validating Course Number
Validating Section Number
Validating Course GPA
Validating A+
Validating A
Validating A-
Validating B+
Validating B
Validating B-
Validating C+
Validating C
Validating C-
Validating D+
Validating D
Validating D-
Validating F
Validating OT
Validating DR
Validating W
Validating Total

[]

In [164]:
validate_grades('F2017.xlsx')

Validating Course Number
Validating Section Number
Validating Course GPA
Validating A+
Validating A
Validating A-
Validating B+
Validating B
Validating B-
Validating C+
Validating C
Validating C-
Validating D+
Validating D
Validating D-
Validating F
Validating othr
Validating DR
Validating W

IndexError: index 25 is out of bounds for axis 0 with size 25