In [9]:
import pandas as pd
import numpy as np
import os
import re

In [26]:
%load_ext autoreload
%autoreload 2
from validate_grades import validate_grade_files

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
grade_dict = validate_grade_files('excel_files')

Loading Grades_Fall_2015.xlsx

/Users/brian/dev/projects/tcf/theCourseForum/grades/data/validate_grades.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  else:

Loading Grades_Fall_2018.xlsx

/Users/brian/dev/projects/tcf/theCourseForum/grades/data/validate_grades.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Loading Grades_Fall_2014.xlsx
Loading Grades_Fall_2013.xlsx
Loading Grades_Spring_2016.xlsx
Loading Grades_Fall_2012.xlsx
Loading Grades_Spring_2015.xlsx
Loading Grades_Fall_2011.xlsx
Loading Grades_Spring_2014.xlsx
Loading Grades_Spring_2018.xlsx
Loading Grades_Spring_2013.xlsx
Loading Grades_Fall_2017.xlsx
Loading Grades_Fall_2016.xlsx
Loading Grades_Spring_2012.xlsx
Validating Grades_Fall_2015.xlsx
Validating Grades_Fall_2018.xlsx
Validating Grades_Fall_2014.xlsx
Validating Grades_Fall_2013.xlsx
Validating Grades_Spring_2016.xlsx
Validating Grades_Fall_2012.xlsx
Validating Grades_Spring_2015.xlsx
Validating Grades_Fall_2011.xlsx
Validating Grades_Spring_2014.xlsx
Validating Grades_Spring_2018.xlsx
Validating Grades_Spring_2013.xlsx
Validating Grades_Fall_2017.xlsx
Validating Grades_Fall_2016.xlsx
Validating Grades_Spring_2012.xlsx

In [31]:
def merge_grades(grade_dict):
    for fname, df in grade_dict.items():
        # add year and season columns
        year = int(re.search("\d{4}", fname).group(0))
        season = "Fall" if "Fall" in fname else "Spring"
        df['Year'] = year
        df['Season'] = season
    
    # merge all grades
    grades = pd.concat(list(grade_dict.values()))
    
    # convert integer columns to integers
    int_columns = [5,6,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]
    for col in int_columns:
        grades[grades.columns[col]] = grades[grades.columns[col]].fillna(value=0).astype(int)
    return grades

In [32]:
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)

grades = merge_grades(grade_dict)
grades.head()

  Instructor Last Name Instructor First Name Instructor Middle Name    Instructor Email Course Subject  Course Number  Section Number                   Course Title  Course GPA  A+   A  A-  B+   B  B-  C+  C  C-  D+  D  D-  F  Other  Drop  W  Total  Year Season
0           Abad-Jorge                   Ana                      R  ara6t@virginia.edu           PSHM           3010             501     Intro to Health Care Mgmnt        3.71   0   4   6   1   1   0   0  0   0   0  0   0  0      0     1  0     13  2015   Fall
1            Abdelbaki                   Ala                     H.  aha3e@virginia.edu           MATH           1220               2            Applied Calculus II        2.70   1   0   5   6  12   3  11  1   1   0  0   1  2      0    13  2     58  2015   Fall
2            Abdelbaki                   Ala                     H.  aha3e@virginia.edu           MATH           1220               3            Applied Calculus II        3.00   1   8   6   5   8   1  10  3   2   1  0   0  0      0    12  1     58  2015   Fall
3            Abdelbaki                   Ala                     H.  aha3e@virginia.edu           MATH           1220               4            Applied Calculus II        3.07   0   4   6  10   5   6   5  1   0   0  0   1  0      0    13  2     53  2015   Fall
4           Abdesselam            Abdelmalek                    NaN  aa4cr@virginia.edu           MATH           3250             100  Ordinary Differential Equatns        3.30   9  14   5   2   2   0   2  3   3   2  0   1  0      0     4  1     48  2015   Fall

In [49]:
courses = grades.groupby(['Course Subject', 'Course Number'])
courses.get_group(('CS', 2110)).head()

     Instructor Last Name Instructor First Name Instructor Middle Name     Instructor Email Course Subject  Course Number  Section Number                  Course Title  Course GPA  A+   A  A-  B+   B  B-  C+  C  C-  D+  D  D-  F  Other  Drop  W  Total  Year Season
126                 Basit                  Nada                    NaN    nb3f@virginia.edu             CS           2110               2  Software Development Methods        3.83  45  67  21   5   5   2   1  2   1   0  0   0  0      0    13  0    162  2015   Fall
127                 Basit                  Nada                    NaN    nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.76  56  53  21   7   8   3   0  2   1   3  0   0  0      0    20  1    175  2015   Fall
684               Edwards                 David               Linville  dle7pm@virginia.edu             CS           2110               1  Software Development Methods        3.71  29  32   9   6   4   2   2  0   1   1  1   0  0      0    18  1    106  2015   Fall
156                 Basit                  Nada                    NaN    nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.44  20  57  20  15  16   2   2  1   2   2  1   1  6      0    21  2    168  2018   Fall
1125                 Hott                  John                 Robert   jh2jf@virginia.edu             CS           2110               1  Software Development Methods        3.49  11  35  18  13  11   6   3  1   2   0  1   0  1      2    11  1    116  2018   Fall

In [50]:
professors = grades.groupby(['Course Subject', 'Course Number', 'Instructor Email'])
professors.get_group(('CS', 2110, 'nb3f@virginia.edu')).head()

    Instructor Last Name Instructor First Name Instructor Middle Name   Instructor Email Course Subject  Course Number  Section Number                  Course Title  Course GPA  A+   A  A-  B+   B  B-  C+  C  C-  D+  D  D-  F  Other  Drop  W  Total  Year Season
126                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               2  Software Development Methods        3.83  45  67  21   5   5   2   1  2   1   0  0   0  0      0    13  0    162  2015   Fall
127                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.76  56  53  21   7   8   3   0  2   1   3  0   0  0      0    20  1    175  2015   Fall
156                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.44  20  57  20  15  16   2   2  1   2   2  1   1  6      0    21  2    168  2018   Fall
128                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               2  Software Development Methods        3.54   6  44  25  18  10   7   3  1   2   0  0   1  0      0    14  2    133  2014   Fall
129                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.43  11  37   9  10  13   5   4  3   2   1  2   0  0      0    23  0    120  2014   Fall

In [52]:
semesters = grades.groupby(['Course Subject', 'Course Number', 'Instructor Email', 'Year', 'Season'])
semesters.get_group(('CS', 2110, 'nb3f@virginia.edu', 2015, 'Fall'))

    Instructor Last Name Instructor First Name Instructor Middle Name   Instructor Email Course Subject  Course Number  Section Number                  Course Title  Course GPA  A+   A  A-  B+  B  B-  C+  C  C-  D+  D  D-  F  Other  Drop  W  Total  Year Season
126                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               2  Software Development Methods        3.83  45  67  21   5  5   2   1  2   1   0  0   0  0      0    13  0    162  2015   Fall
127                Basit                  Nada                    NaN  nb3f@virginia.edu             CS           2110               3  Software Development Methods        3.76  56  53  21   7  8   3   0  2   1   3  0   0  0      0    20  1    175  2015   Fall

In [56]:
semesters.get_group(('CS', 2110, 'nb3f@virginia.edu', 2015, 'Fall')).sum().to_frame()

                                                                        0
A                                                                     120
A+                                                                    101
A-                                                                     42
B                                                                      13
B+                                                                     12
B-                                                                      5
C                                                                       4
C+                                                                      1
C-                                                                      2
Course GPA                                                           7.59
Course Title            Software Development MethodsSoftware Developme...
D                                                                       0
D+                                                                      3
D-                                                                      0
Drop                                                                   33
F                                                                       0
Instructor First Name                                            NadaNada
Instructor Last Name                                           BasitBasit
Instructor Middle Name                                               None
Other                                                                   0
Section Number                                                          5
Total                                                                 337
W                                                                       1

In [57]:
semesters.get_group(('CS', 2110, 'nb3f@virginia.edu', 2015, 'Fall')).mean().to_frame()

                              0
A                        60.000
A+                       50.500
A-                       21.000
B                         6.500
B+                        6.000
B-                        2.500
C                         2.000
C+                        0.500
C-                        1.000
Course GPA                3.795
D                         0.000
D+                        1.500
D-                        0.000
Drop                     16.500
F                         0.000
Instructor Middle Name      NaN
Other                     0.000
Section Number            2.500
Total                   168.500
W                         0.500